/*==================================*/
/* Head Section */
/*==================================*/
.head {
  width: 100%;
  position: relative;

  /*==================================*/
  > .imgLayer {
    width: 100%;
    clip-path: url(#rounded-polygon);
    background-image: url("/images/svg_bg_img.jpg");

    > .imgCover {
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #22222260;
    }
  }

  /*==================================*/
  > .frontLayer {
    top: 0;
    left: 0;
    gap: 35px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;

    /*==================================*/
    & > nav {
      width: 100%;
      height: 150px;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      border-radius: 30px 30px 0 0;

      > .logo {
        width: 200px;
        height: 100%;
        border-radius: 30px;
        background: #00000090;
      }

      > .other {
        width: 500px;
        height: 100%;
        border-radius: 30px;
        background: #00000090;
      }
    }

    /*==================================*/
    > .sliderCont {
      width: 100%;
      display: flex;
      padding: 50px 0 0 0;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      /*==================================*/
      > .card {
        color: #fff;
        display: flex;
        width: inherit;
        margin-bottom: 50px;
        align-items: center;
        flex-direction: column;

        > .logo {
          height: 55px;
          width: 130px;
          margin-bottom: 30px;
          border-radius: 30px;
          background: #00000090;
        }

        > .subTitle {
          font-size: 50px;
          color: #ffffffee;
        }

        > .title {
          font-size: 110px;
          margin-bottom: 30px;
          font-weight: bolder;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }

        > .content {
          width: 50%;
          font-size: 25px;
          line-height: 45px;
          text-align: center;

          & > b {
            padding: 5px 10px;
            border-radius: 8px;
            transform: rotate(30deg);
            color: var(--brand-color);
            background: var(--foreground);
          }
        }
      }

      /*==================================*/
      > .indicator {
        gap: 10px;
        display: flex;
        margin-bottom: 50px;

        & > div {
          width: 50px;
          height: 5px;
          background: grey;
          border-radius: 2px;

          &.selected {
            background: var(--brand-color);
          }
        }
      }
    }

    /*==================================*/
    > .searchCont {
      width: 70vw;
      height: 260px;
      display: flex;
      align-items: center;
      flex-direction: column;

      /*==================================*/
      & > form {
        height: 65%;
        width: 100%;
        padding: 20px;
        background: #fff;
        position: relative;
        border-radius: 100rem;

        > .img {
          top: 50%;
          left: 50px;
          width: 50px;
          position: absolute;
          object-fit: contain;
          transform: translateY(-50%);
        }

        & > input {
          width: 100%;
          height: 100%;
          font-size: 25px;
          border-radius: inherit;
          background: #99999950;
          color: var(--foreground);
          padding: 0 200px 0 100px;

          &::placeholder {
            font-size: 25px;
            color: var(--foreground);
          }
        }

        & > button {
          top: 50%;
          width: 200px;
          color: #fff;
          cursor: pointer;
          font-size: 23px;
          font-weight: bold;
          position: absolute;
          border-radius: inherit;
          transform: translateY(-50%);
          background: var(--brand-color);
          left: calc((100% - 200px - 40px));
          height: calc((260 * 0.65px) - 40px - 40px);
        }

        & > i {
          position: absolute;
        }
      }

      /*==================================*/
      & > div {
        width: 70%;
        height: 35%;
        display: flex;
        color: #fff;
        padding: 0 50px;
        align-items: center;
        border-radius: 0 0 50px 50px;
        background: var(--foreground);
        justify-content: space-between;

        & > span {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1px;
        }

        > .platformsIcon {
          gap: 10px;
          display: flex;
          font-size: 30px;
          list-style: none;
          font-weight: bold;
          align-items: center;

          & hr {
            height: 20px;
          }

          > .img {
            width: 40px;
            height: auto;
            filter: invert();
          }
        }
      }
    }
  }
}

/*==================================*/
/* Learn More Section */
/*==================================*/
.learnMore {
  display: flex;
  padding: 100px 10px;
  align-items: center;
  flex-direction: column;

  > .subTitle {
    font-size: 40px;
    position: relative;
    word-spacing: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;

    & > span {
      color: #ffffff;
      font-weight: bold;
    }

    &::before {
      top: 50%;
      right: -5px;
      z-index: -1;
      content: "";
      width: 150px;
      height: 50px;
      position: absolute;
      border-radius: 50px;
      background: var(--brand-color);
      transform: translateY(-50%) rotate(-3deg);
    }
  }

  > .title {
    font-size: 65px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  > .content {
    margin: 30px 0;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    width: calc(40 * 12px);
    text-transform: capitalize;
  }

  > .row {
    gap: 20px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    & > button:first-child {
      color: var(--foreground);
      background: var(--background);
      border: 1px solid var(--foreground);
    }

    & > button:last-child {
      color: var(--background);
      background: var(--foreground);
      box-shadow: 0px 30px 160px 1px var(--foreground);
    }
  }
}

/*==================================*/
/* Learn More Section */
/*==================================*/
.howToSection {
  gap: 60px;
  display: flex;
  padding: 100px 10px;
  align-items: center;
  justify-content: center;
  background: var(--secondary-background);

  /*==================================*/
  > .imgCont {
    height: 600px;
    width: max(600px);
    position: relative;
    /* background: #00000010; */
    border-radius: 10px;

    & > svg {
      width: 100%;
      height: 100%;
      /* margin-top: 10%; */
      fill: var(--brand-color);
      /* background: #000; */
    }

    > .woman {
      left: 40px;
      bottom: 40px;
      width: inherit;
      height: inherit;
      /* background: #000; */
      position: absolute;
      object-fit: contain;
      transform: scale(1.1);
    }
  }

  /*==================================*/
  > .stepsCont {
    display: flex;
    width: max(700px);
    flex-direction: column;

    & > b {
      opacity: 0.7;
      font-size: 45px;
      font-weight: normal;
    }

    & > h2 {
      font-size: 60px;
      color: var(--brand-color);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

      & > span {
        color: var(--foreground);
      }
    }

    > .cardCont {
      gap: 30px;
      display: flex;
      margin-top: 30px;
      height: max-content;
      flex-direction: column;

      > .card {
        gap: 20px;
        display: flex;
        align-items: center;
        --indicator-size: 80px;

        &:nth-child(2) {
          > .indicator {
            color: #fff;
            background: var(--brand-color);
            box-shadow: 0px 30px 100px 0.5px var(--brand-color);
          }
        }

        > .indicator {
          display: flex;
          font-size: 20px;
          font-weight: bold;
          align-items: center;
          border-radius: 50px;
          justify-content: center;
          color: var(--brand-color);
          width: var(--indicator-size);
          height: var(--indicator-size);
          border: 1px solid var(--brand-color);
        }

        > .column {
          gap: 10px;
          display: flex;
          flex-direction: column;
          width: calc(100% - (var(--indicator-size) + 20px));

          > .title {
            font-size: 30px;
          }
          > .content {
            opacity: 0.8;
            font-size: 18px;
            text-transform: capitalize;
            line-height: calc(18px + 10px);
          }
        }
      }
    }
  }
}

/*==================================*/
/* Learn More Section */
/*==================================*/
.featuresSection {
  display: flex;
  padding: 100px 10px;
  align-items: center;
  justify-content: center;

  > .card {
    gap: 30px;
    display: flex;
    width: max(450px);
    padding: 50px 90px;
    flex-direction: column;
    color: var(--background);
    background: var(--foreground);
    --border-radius: 30px;

    &:first-child {
      position: relative;
      border-right: 2px dashed var(--background);
      border-radius: var(--border-radius) 0 0 var(--border-radius);

      &::before {
        top: 0;
        right: 0;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50px;
        margin: -25px -25px 0 0;
        background: var(--background);
      }

      &::after {
        right: 0;
        bottom: 0;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50px;
        margin: 0 -25px -25px 0;
        background: var(--background);
      }
    }

    &:nth-child(2) {
      z-index: -1;
      opacity: 0.9;
      background: var(--foreground);
    }

    &:last-child {
      position: relative;
      border-left: 2px dashed var(--background);
      border-radius: 0 var(--border-radius) var(--border-radius) 0;

      &::before {
        top: 0;
        left: 0;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50px;
        margin: -25px 0 0 -25px;
        background: var(--background);
      }

      &::after {
        left: 0;
        bottom: 0;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50px;
        margin: 0 0 -25px -25px;
        background: var(--background);
      }
    }

    & > b {
      font-size: 70px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    & > span {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      line-height: calc(18px + 15px);
    }
  }
}

/*==================================*/
/* Learn More Section */
/*==================================*/
.whyUseUsSection {
  display: flex;
  padding: 100px 10px;
  align-items: center;
  flex-direction: column;
  /* background: var(--secondary-background); */

  & > span {
    font-size: 40px;
  }

  & > b {
    font-size: 60px;
    color: var(--brand-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    & > span {
      color: var(--foreground);
    }
  }

  > .row {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    > .card {
      display: flex;
      padding: 20px;
      width: max(350px);
      align-items: start;
      flex-direction: column;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-right: 2px dashed var(--foreground);
      }

      > .img {
        width: auto;
        height: 80px;
        object-fit: contain;
        margin-bottom: 30px;
      }

      > .title {
        font-size: 25px;
        margin-bottom: 30px;
      }

      > .content {
        opacity: 0.8;
        font-size: 18px;
        text-align: justify;
        line-height: calc(18px + 15px);
      }
    }
  }
}

/*==================================*/
/* Learn More Section */
/*==================================*/
.footerSection {
  &,
  & * {
    /* outline: 1px solid red; */
  }

  width: 100%;
  position: relative;

  > .svgBg {
    background: var(--foreground);
    clip-path: url("#footer-clipped-path");
  }

  > .frontLayer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    color: var(--background);
    --child-level-padding: 100px;

    /*================================*/
    > .bgPattern {
      right: 0;
      top: -30px;
      z-index: -1;
      opacity: 0.2;
      position: absolute;
      transform: rotate(-60deg);
    }

    /*================================*/
    > .titleCont {
      z-index: 1;
      height: 20%;
      display: flex;
      position: relative;
      justify-content: end;
      flex-direction: column;
      padding-left: var(--child-level-padding);

      & > span {
        font-size: 40px;
        opacity: var(--opacity);
      }

      & > b {
        gap: 10px;
        display: flex;
        font-size: 70px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;

        & > span {
          position: relative;

          &::after {
            top: 0;
            left: -5px;
            z-index: -1;
            content: "";
            height: 100%;
            position: absolute;
            border-radius: 100px;
            transform: rotate(-2deg);
            width: calc(100% + 15px);
            background: var(--brand-color);
          }
        }
      }
    }

    /*================================*/
    > .faqCont {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px var(--child-level-padding);
      --child-level-title-height: 100px; /*= title height =*/

      > .faq {
        overflow: hidden;
        transition: 0.5s;
        height: var(--child-level-title-height);
        border-bottom: 1.5px dashed var(--background);

        > .titleCont {
          gap: 20px;
          display: flex;
          cursor: pointer;
          overflow: hidden;
          align-items: center;
          height: var(--child-level-title-height);

          > .order {
            font-size: 20px;
            font-weight: bold;
            opacity: var(--opacity);
          }

          > .title {
            flex-grow: 1;
            font-size: 20px;
          }

          > .arrowIcon {
            width: 30px;
            height: auto;
            transition: 0.5s;
            object-fit: contain;
            opacity: var(--opacity);

            &.opened {
              opacity: unset;
              transform: rotate(180deg);
            }
          }
        }

        > .content {
          width: 80%;
          display: block;
          font-size: 18px;
          padding: 0 50px 30px 50px;
          line-height: calc(18px + 15px);
        }

        &:last-child {
          border-bottom: unset;
        }

        &.opened {
          height: auto;
        }
      }
    }

    /*================================*/
    > .footer {
      height: 10%;
      display: flex;
      align-items: center;
      color: var(--foreground);
      justify-content: space-between;

      & > * {
        height: 100%;
      }

      & > span {
        width: 40%;
        display: flex;
        font-size: 20px;
        align-items: center;
        padding: 0 0 0 var(--child-level-padding);
      }

      & > div {
        width: 20%;
        border-radius: 10px;
        background: #55555590;
      }

      & > ul {
        gap: 20px;
        width: 40%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: end;
        padding: 0 var(--child-level-padding) 0 0;

        & > li,
        & > li > .link {
          height: 60px;
          display: flex;
          cursor: pointer;
          font-weight: bold;
          position: relative;
          align-items: center;
          justify-content: center;

          &::after {
            left: 0;
            bottom: 0;
            content: "";
            width: 0px;
            height: 5px;
            transition: 0.5s;
            position: absolute;
            border-radius: 10px;
            background: var(--brand-color);
          }

          &:hover {
            &::after {
              left: 0;
              bottom: 0;
              content: "";
              width: 30px;
              height: 5px;
              position: absolute;
              border-radius: 10px;
              background: var(--brand-color);
            }
          }
        }
      }
    }
  }
}

/* @media (prefers-color-scheme: dark) {
} */

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
} */

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */
